<nav>
  <h3>{{ include.title }}</h3>

  <ul>
    {% for item in include.collection %}
      {% assign filename = item.name | split: '.' %}
      <li>{{ filename.last }}</li>
    {% endfor %}
  </ul>
</nav>


{% for item in include.collection %}
  {% assign filename = item.name | split: '.' %}
  <aside id="{{ filename.last }}">
    <h3>{{ filename.last }}</h3>
    
    {% case filename.last %}
      {% when "scss" %}
        <div class="location">assets/styles/{{ include.category}}/{{ item.name }}</div>
        {% highlight scss %}{% code scss %}{% endhighlight %}
      {% when "liquid" %}
        <div class="location">assets/styles/{{ include.category}}/{{ item.name }}</div>
        {% highlight liquid %}{% code liquid %}{% endhighlight %}
      {% when "js" %}
        <div class="location">assets/scripts/{{ include.category}}/{{ item.name }}</div>
        {% highlight js %}{% code js %}{% endhighlight %}
      {% when "html" %}
        <div class="location">_includes/{{ include.category}}/{{ item.name }}</div>
        {% highlight html %}{% code html %}{% endhighlight %}
    {% endcase %}
  </aside>
  
{% endfor %}