<aside id="breakpoints-x-axis">
  <h3>Breakpoints X Axis</h3>
  
  {% assign breakpoints = '0,' %}
  {% for breakpoint in page.items %}
    {% assign size = breakpoint.value | split: 'em' %}
    {% assign em = size.first %}
    
    {% assign breakpoints = breakpoints | append: em | append: ',' %}
  {% endfor %}
  {% assign breakpoints = breakpoints | append: '100,' %}
  
  {% assign widths = '' %}
  {% assign points = breakpoints | split: ',' %}
  {% for point in points %}
    {% if point == "0" %}
      {% assign width = '0' %}
    {% else %}
      {% assign index = forloop.index | minus: 2 %}
      {% assign prev = points[index] %}
      {% assign width = point | minus: prev %}
    {% endif %}
  
    {% assign widths = widths | append: width | append: ',' %}
  {% endfor %}
  
  {% assign widths = widths | split: ',' %}
  {% assign loop = widths.size | minus: 1 %}
  {% for i in (1..loop) %}
    {% assign point = points[forloop.index0] %}
    {% assign width = widths[i] %}
    <span class="line" style="width: {{ width | minus: 0.1 }}%">{{ point | times: 16 }}</span>
  {% endfor %}
</aside>

{% for mixin in page.mixins %}
  {% assign width = mixin.end | minus: mixin.start %}
  {% assign margin = mixin.start %}
  
  <aside id="{{ mixin.name }}">
    <h3>{{ mixin.name }}</h3>

    <div class="line" style="width: {{ width }}%; margin-left: {{ margin }}%"></div>
    <span class="description">{{ mixin.description }}</span>
  </aside>
{% endfor %}