{% for breakpoint in page.items %}
  {% assign name = breakpoint.name | split: '-' %}
  {% assign shortname = name.last %}
  {% assign size = breakpoint.value | split: 'em' %}
  {% assign em = size.first %}
  {% assign px = em | times: 16 %}
  
  <aside id="{{ shortname }}">
    <h3>{{ shortname }}</h3>

    <div class="line" style="width: {{ em }}%"></div>
    <div class="info">
      <span class="size">{{ breakpoint.value }}</span>
      <span class="description">{{ breakpoint.description }}</span>
    </div>
  </aside>
{% endfor %}