<section id="{% include atoms/classname.html title=page.title %}" class="styleguide-entry">
  <h1>{{ page.title }}</h1>
  
  
  {% if page.subtitle %}
    <article class="subtitle">
      <h3>Short description</h3>

      {{ page.subtitle }}
    </article>
  {% endif %}
  
  {% if include.description %}
  <article class="description">
    <h3>Description</h3>
    
    {{ include.description }}
  </article>
  {% endif %}
  
  {% if include.example %}
  <article class="example {% include atoms/classname.html title=page.title %}">
    <h3>Example</h3>
    
    {{ include.example }}
  </article>
  {% endif %}
  
  {% if include.technical %}
  <article class="technical {% include atoms/classname.html title=page.title %} accordion">
    <h3>Technical description</h3>
    
    {{ include.technical }}
  </article>
  {% endif %}
  
  
  {% include styleguide/organisms/sg-code.html class="accordion" %}
</section>